body {
  width: 1390px;
  height: 705px;
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
  zoom: 6;
}

canvas {
  width: 1390px;
  height: 705px;
  padding: 0;
  position: relative;
  background-color: black;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  margin: auto;
}

#map {
  width: 1390px;
  height: 705px;
  background-image: url("./map/mapTurgut.png");
  background-repeat: no-repeat;
  position: relative;
  padding: 0;
  z-index: 2;
  left: 0;
  right: 0;
  top: -710px;
  bottom: 0;
  margin: auto;
}

#turgut {
  width: 16px;
  height: 16px;
  background-image: url("./playerImages/turgutAnimDownStay.png");
  position: relative;
  margin: 0;
  padding: 0;
  left: 800px;
  top: 300px;
  z-index: 3;
}
